.formContainer {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.formGroup {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.formGroup label {
    font-weight: bold;
}

.columnOne,
.columnTwo {
    width: 50%;
}

.columnOne {
    padding-right: 10px;
}

.columnTwo {
    padding-left: 10px;
}

input,
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: inherit;
}

.submitButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}

.rs-input-group {
    height: 38px;
    background-color: hsl(0, 0%, 100%) !important;
    border-color: hsl(0, 0%, 80%) !important;
    border-radius: 4px !important;
    border-style: solid !important;
    border-width: 1px !important;
    box-sizing: border-box !important;
    font-size: 10px !important;
}

.rs-input {
    font-size: 15px !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 21px;
    outline: none;
    margin-left: 10px;
    margin-top: 3px;
}

.switch input {
    position: absolute;
    top: -99999px;
    left: -99999px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 21px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.toggleContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 11px;
    font-size: smaller;
    margin-bottom: -15px;
}

.toggleLabel {
    opacity: 0.5;
}